@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: theme('colors.brand-background');
  color: theme('colors.brand-text');
  font-family: theme('fontFamily.sans');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Focus States for Accessibility */
button:focus,
input:focus {
  outline: 2px solid theme('colors.brand-brown');
  outline-offset: 2px;
}